.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.title {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}

.button-add{
  position: fixed;
  z-index: 9999;
  bottom: 5px;
  right: 5px;
}

.top-space{
  margin-top: 1.5rem;
}

.employee-active{
  background-color: #689F38 !important;
  height: 13px;
  width: 30px;
  display: inline-block;
}

.active{
  background-color: #689F38;
}

.desactive{
  background-color: #FFAB40;
}

.employee-desactive{
  background-color: #FFAB40 !important;
  height: 13px;
  width: 30px;
  display: inline-block;
  margin-left: 2em;
}

table td, table th{
  border-color: purple;
  border-style: solid;
}

.margin-left{
  margin-left: 1.5em;
}
