.textfield{
  display: block !important;
  width: 100% !important;
}

.Login-actions{
  margin-top: 1em;
  text-align: right;
}

.Login-background{
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.Signup-background{
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.button-add{
  position: fixed;
  z-index: 9999;
  bottom: 5px;
  right: 24px;
}

.top-space{
  margin-top: 1.5rem;
}

.employee-active{
  background-color: #689F38 !important;
  height: 13px;
  width: 30px;
  display: inline-block;
}

.active{
  background-color: #689F38;
}

.desactive{
  background-color: #FFAB40;
}

.employee-desactive{
  background-color: #FFAB40 !important;
  height: 13px;
  width: 30px;
  display: inline-block;
  margin-left: 2em;
}

table td, table th{
  border-color: purple;
  border-style: solid;
}

.margin-left{
  margin-left: 1.5em;
}

.inline-block{
  display: inline-block;
}

.link-navigation{
  text-decoration: none;
  color: white;

}
